<!DOCTYPE html>
<html>
<head>
  <title>Update Password</title>
</head>
<body>
  <h1>Update Password</h1>
  <p>Enter the new password</p>
  <form method="POST" action="/admin/updatePass">
 
   <input type="password" name="password" placeholder="Password">
   <input type="password" name="chkpassword" placeholder="Confirm Password">
  <input type="hidden" name="email" value="<%=email%>">
    <button type="submit">Submit</button>
  </form>

  
</body>
</html>
