<%- include('../partials/header') %>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">



<img src="/<%=products.images[0]%>" style="height: fit-content;" width="100%" alt="">

  
  
    <script src="/scripts/hideerror.js"></script>

</div>
</div>
</body>
<%- include('../partials/footer') %>
