<!DOCTYPE html>
<html>
<head>
  <title>OTP Verification</title>
</head>
<body>
  <h1>OTP Verification</h1>
  <p>Enter the OTP sent to your email: <%= email %></p>
  <form method="POST" action="/admin/verifyOtp">
    <input type="text" name="enteredOTP" placeholder="Enter OTP" required>
    <input type="hidden" name="email" value="<%= email %>">
  
    <button type="submit">Verify OTP</button>
  </form>
  <form method="POST" action="/admin/resendOtp">
    <input type="hidden" name="email" value="<%= email %>">
    <button type="submit">Resend OTP</button>
  </form>
  
</body>
</html>
