#datacountdown1 .days,
#datacountdown1 .hours,
#datacountdown1 .minutes,
#datacountdown1 .seconds {
  
    font-weight: bold;
    font-size: 24px;
    color: #d90808;
  
}
.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(21, 19, 19); /* Example: Set the text color */
}
.image-content2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(21, 19, 19); /* Example: Set the text color */
}

