{
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 140,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "endOfLine": "lf"
}
