<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
</head>
<body>
  <h1>Forgot Password</h1>
  <p>Enter the email</p>
  <form method="POST" action="/user/forgotPassword">
 
   <input type="email" name="email">
  
    <button type="submit">Submit</button>
  </form>

  
</body>
</html>
