<%- include('../partials/header') %>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
        <div id="error-message" class="alert alert-danger">
            <span>
                <% errors.forEach(error => { %>
                    <p><%= error %></p>
                <% }); %>
            </span>
        </div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/user/postLogin" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Don't have an account? <a href="/">Sign up</a></p>
    <a href="/user/getForgotPassword">forgot password?</a>
  
    <script src="/scripts/hideerror.js"></script>

</div>
</div>
</body>
<%- include('../partials/footer') %>
