<%- include('../partials/header') %>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

  
    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
        <div id="error-message" class="alert alert-danger">
            <span>
                <% errors.forEach(error => { %>
                    <p><%= error %></p>
                <% }); %>
            </span>
        </div>
    <% } %>
 
    <!-- LOGIN FORM -->
    <form action="/user/signup" method="post">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phonenumber">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="chkpassword">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>
</div>

<script src="/scripts/hideerror.js">
        
</script>
</body>

<%- include('../partials/footer') %>
