<footer class="main">
        
          <section class="section-padding footer-mid" style="background-color: rgba(7, 7, 8, 0.895); color: whitesmoke; ">
              <div class="container pt-15 pb-20">
                  <div class="row">
                      <div class="col-lg-4 col-md-6">
                          <div class="widget-about font-md mb-md-5 mb-lg-0">
                              <div class="logo logo-width-1 wow fadeIn animated">
                                  <a href="/user/home" class="text-white">TELFLEX MATTRESS</a>
                              </div>
                              <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                              <p class="wow fadeIn animated text-white">
                                  <strong>Address: </strong>XL/176B, BYPASS JN, WEST PADAKULAM, <br> KODUNGALLUR, PIN: 680664, HeadOffice : Psn Kavala,  <br> PO Madavana,Kodungallur, Thrissur, Kerala, 680666.
                              </p>
                              <p class="wow fadeIn animated text-white">
                                  <strong>Phone: </strong> +91 9745607406, +91 7025053170 
                              </p>
                              <p class="wow fadeIn animated text-white">
                                  <strong>Hours: </strong>Mon-Sat - 8am to 9pm <br>
                                  Sun - Can be opened for special cases 
                              </p>
                              <h5 class="mb-10 mt-30 fw-600  wow fadeIn animated text-white">Follow Us</h5>
                              <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                  <a href="https://www.facebook.com/telflexmattress7406/"><img src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                  <a href="https://www.instagram.com/sayeeddddddddd?igshid=YzVkODRmOTdmMw%3D%3D&utm_source=qr"><img src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                 
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-3">
                          <h5 class="widget-title wow fadeIn animated text-white">About</h5>
                          <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0 text-white">
                              <li><a class="text-white" href="/user/about">About Us</a></li>
                              <li><a class="text-white" href="/user/deliverydetails">Delivery Information</a></li>
                              <li><a class="text-white" href="/user/policy">Privacy Policy</a></li>
                              <li><a class="text-white" href="/user/pageterms">Terms &amp; Conditions</a></li>
                              <li><a class="text-white" href="/user/contact">Contact Us</a></li>
                            
                          </ul>
                      </div>
                      <div class="col-lg-2  col-md-3">
                          <h5 class="widget-title wow fadeIn animated text-white">My Account</h5>
                          <ul class="footer-list wow fadeIn animated text-white">
                         
                              <li><a class="text-white" href="/user/showCart">View Cart</a></li>
                              <li><a class="text-white" href="/user/showwishlist">My Wishlist</a></li>
                              <li><a class="text-white" href="/user/account">Track My Order</a></li>
                              <li><a class="text-white" href="/user/contact">Help</a></li>
                              <li><a class="text-white" href="/">Shop now</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-4">
                         
                          <div class="row">
                             
                              <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                  <p class="mb-20 wow fadeIn animated text-white">Secured Payment Gateways</p>
                                  <img class="wow fadeIn animated" src="/user/imgs/theme/payment-method.png" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
       
      </footer>