<%- include('partials/head') %>
<body style="background-image: url('/admin/imgs/adminlogin.jpg');"   >
    <main>
    
      
        <section class="content-main mt-80 mb-80" >
            <div class="card mx-auto card-login">
                <div class="">
                    <h4 class="card-title mb-4">Login As Admin</h4>
                    
        <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
            <div id="error-message" class="alert alert-danger">
                <span>
                    <% errors.forEach(error => { %>
                        <p><%= error %></p>
                    <% }); %>
                </span>
            </div>
        <% } %>
                    <form  method="post" action="/admin/postLogin">
                        <div class="mb-3">
                            
                            
                            <input class="form-control" type="text"  name="email" placeholder="Your Email">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                          
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <a href="/admin/getForgotPassword" class="float-end font-sm text-muted">Forgot password?</a>
                         
                        </div> <!-- form-group form-check .// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                 
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
    <%- include('partials/script') %>
    <script src="/scripts/hideerror.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>