<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
  
  
    <main class="main">
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                            <div class="single-header style-2">
                                <h2>Delivery Information</h2>
                               
                            </div>
                            <figure class="single-thumbnail">
                                <img src="/user/imgs/delivery.jpg" alt="">
                            </figure>
                            <div class="single-content">
                              <h3>Shipping Policy</h3>
                                <p> At Telflex, we understand the importance of timely delivery and ensuring your utmost satisfaction. Here's everything you need to know about our delivery process:</p>
                               
                                <div class="delivery-info">
                                        <h2>Shipping Options</h2>
                                        <p>We offer standard and expedited shipping options for your convenience:</p>
                                        <ul>
                                          <li>Standard Shipping: Free delivery within Kerala in 5-7 business days.</li>
                                          <li>Expedited Shipping: For those in urgent need, expedited shipping is available at an additional cost, delivering your mattress within 2-3 business days.</li>
                                        </ul>
                                      </div>
                                      
                                      <div class="delivery-info">
                                        <h2>Delivery Process</h2>
                                        <p>Once your order is confirmed, our team processes it swiftly. You'll receive a confirmation call with your order details. Here's what to expect:</p>
                                        <ul>
                                          <li>Order Confirmation: You will receive a call confirming your purchase and providing an estimated delivery date.</li>
                                          <li>Delivery Notification: Our delivery team will contact you via phone or email to schedule a suitable delivery time.</li>
                                        </ul>
                                      </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>
    </main>
   
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
    <%- include('partials/footerlogin') %>
 

</body>


</html>