<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

 
    <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
        <div id="error-message" class="alert alert-danger">
            <span>
                <% errors.forEach(error => { %>
                    <p><%= error %></p>
                <% }); %>
            </span>
        </div>
    <% } %>
  
    <section class="pt-150 pb-150"  style="background-image: url('/user/imgs/forgot.jpg'); background-size: contain; background-repeat: no-repeat; margin-top: 0px;" >
        <div class="container d-flex justify-content-center mt-5 mb-5">
       
                        <div class="loginform">
                            <div>   <a class="text-dark" href="/user/"><i class="fa-solid fa-backward"></i> Go back</a></div>
                            <div class="login_wrap widget-taber-content p-30 border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all ">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Enter your email</h3>
                                    </div>
                                    <form method="post" action="/user/forgotPassword">
                                        <div class="form-group">
                                            <input type="text"  name="email" placeholder="Your Email">
                                        </div>
                                        
                                    
                                         
                                           
                                        </div>
                               
                                        <div class="form-group">
                                            <button type="submit" style="background-color: black; color: whitesmoke;" class="btn btn-fill-out btn-block hover-up" name="login">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </section>
                       
    <%- include('partials/footerlogin') %>
    
    <script src="/scripts/hideerror.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Vendor JS-->
    <script src="/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user/js/plugins/slick.js"></script>
    <script src="/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user/js/plugins/wow.js"></script>
    <script src="/user/js/plugins/jquery-ui.js"></script>
    <script src="/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user/js/plugins/magnific-popup.js"></script>
    <script src="/user/js/plugins/select2.min.js"></script>
    <script src="/user/js/plugins/waypoints.js"></script>
    <script src="/user/js/plugins/counterup.js"></script>
    <script src="/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user/js/plugins/images-loaded.js"></script>
    <script src="/user/js/plugins/isotope.js"></script>
    <script src="/user/js/plugins/scrollup.js"></script>
    <script src="/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/user/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>