<aside class="navbar-aside" id="offcanvas_aside">
          <div class="aside-top">
              <a href="" class="brand-wrap">
                <a href="/user/home"><img src="/user/imgs/theme/logo.png" alt="logo"></a>
              </a>
              <div>
                  <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
              </div>
          </div>
          <nav>
              <ul class="menu-aside">
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                          <span class="text">Dashboard</span>
                      </a>
                  </li>
                  <li class="menu-item has-submenu">
                      <a class="menu-link" > <i class="icon material-icons md-shopping_bag"></i>
                          <span class="text">Products</span>
                      </a>
                      <div class="submenu">
                          <a href="/admin/viewproducts"><i class="fa fa-eye" aria-hidden="true"></i>
                             View Products</a>
                          <a href="/admin/addproducts"><i class="fa fa-plus" aria-hidden="true"></i> Add Products</a>
                          <a href="/admin/createCategory" class="active"><i class="fa fa-tasks" aria-hidden="true"></i> Manage Categories</a>
                         
                      </div>
                  </li>
                  <li class="menu-item has-submenu">
                    <a class="menu-link" > <i class="fa fa-gift icon" aria-hidden="true"></i>

                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/getProductOffers"><i class="fa-solid fa-store"  aria-hidden="true"></i> Product Offers</a>
                        <a href="/admin/getCategoryOffer"><i class="fa-brands fa-nfc-directional"  aria-hidden="true"></i> Category Offers</a>
                        <a href="/admin/showRefferals"><i class="fa fa-user-plus"  aria-hidden="true" ></i>
                             Refferal Offers</a>
                    
                        <a href="/admin/getcouponOffer"><i class="fa-solid fa-coins"  aria-hidden="true"></i> Coupon Offers</a>
                       
                    </div>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="/admin/banner"> <i class="fas fa-image icon"></i>
                        <span class="text">Banners</span>
                    </a>
                   
                </li>

                  <li class="menu-item">
                      <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-shopping_cart"></i>
                          <span class="text">Orders</span>
                      </a>
                      
                  </li>
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/viewCustomers"> <i class="icon material-icons md-store"></i>
                          <span class="text">Customers</span>
                      </a>
                      
                  </li>
                 
                  <li class="menu-item has-submenu">
                      <a class="menu-link" > <i class="fa fa-address-book icon" aria-hidden="true"></i>

                          <span class="text">Enquiries</span>
                      </a>
                      <div class="submenu">
                        <a href="/admin/customerenquiry"><i class="fa fa-user" aria-hidden="true"></i>
                            Customer enquiries</a>
                        <a href="/admin/dealerenquiry"><i class="fa-solid fa-handshake"></i> Dealership enquiries</a>
                      
                       
                    </div>
                     
                  </li>
                
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/reviews"> <i class="fas fa-comments icon"></i>
                          <span class="text">Reviews</span>
                      </a>
                  </li>
                
                 
              </ul>
              <hr>
              <ul class="menu-aside">
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/editProfile"> <i class="fa fa-cog icon" aria-hidden="true"></i>

                          <span class="text">Settings</span>
                      </a>
                      
                  </li>
               
              </ul>
              <br>
              <br>
          </nav>
      </aside>
    
  
    