<aside class="navbar-aside" id="offcanvas_aside">
          <div class="aside-top">
              <a href="index.html" class="brand-wrap">
                <a href=""><img src="/user/imgs/theme/logo.png" alt="logo"></a>
              </a>
              <div>
                  <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
              </div>
          </div>
          <nav>
              <ul class="menu-aside">
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                          <span class="text">Dashboard</span>
                      </a>
                  </li>
                  <li class="menu-item has-submenu">
                      <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                          <span class="text">Products</span>
                      </a>
                      <div class="submenu">
                          <a href="/admin/viewproducts">View Products</a>
                          <a href="/admin/addproducts">Add Products</a>
                          <a href="/admin/createCategory" class="active">Manage Categories</a>
                         
                      </div>
                  </li>
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/orderDetails"> <i class="icon material-icons md-shopping_cart"></i>
                          <span class="text">Orders</span>
                      </a>
                      
                  </li>
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/viewCustomers"> <i class="icon material-icons md-store"></i>
                          <span class="text">Customers</span>
                      </a>
                      
                  </li>
                 
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/transaction"> <i class="icon material-icons md-monetization_on"></i>
                          <span class="text">Transactions</span>
                      </a>
                     
                  </li>
                  <li class="menu-item has-submenu">
                      <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                          <span class="text">Account</span>
                      </a>
                      <div class="submenu">
                          <a href="/admin/login">User login</a>
                          <a href="/admin/error">Error 404</a>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/review"> <i class="icon material-icons md-comment"></i>
                          <span class="text">Reviews</span>
                      </a>
                  </li>
                
                 
              </ul>
              <hr>
              <ul class="menu-aside">
                  <li class="menu-item">
                      <a class="menu-link" href="/admin/settings"> <i class="icon material-icons md-settings"></i>
                          <span class="text">Settings</span>
                      </a>
                      
                  </li>
               
              </ul>
              <br>
              <br>
          </nav>
      </aside>
      <script>
        const currentPath = window.location.pathname;


const menuLinks = document.querySelectorAll('.menu-link');


menuLinks.forEach(link => {
  if (link.getAttribute('href') === currentPath) {

    link.parentNode.classList.add('active');
  }
});
      </script>